body {
  background-color: #87cefa;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 5px 15px 15px;
  padding: inherit;
}

* {
  box-sizing: border-box;
}

.digivice {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -1;
}

ul {
  list-style-type: none;

  margin-left: 150px;
  margin-top: -530px;
  padding: 0;
  height: 100%;
  width: 10%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;}

  @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }

.types {
  color: green;
}

.digimon_button {
  font-family: inherit;
  font-weight: bold;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0);
  margin-bottom: 1px;
  text-align: left;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  color: inherit;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-content {
  border-radius: 5px;
  border-width: 15px;
  border-style: solid;
  border-color: #000;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 10px;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}

#modal-digimon {
  display: none;
}

#modal-digimon.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  text-align: center;
}

.modal-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
